[Unit]
Description=Checking for USB floppy plugged in.
After=rc-local.service


[Service]
Type=oneshot
TimeoutSec=30s
RemainAfterExit=true
ExecStart=/bin/bash /usr/local/bin/fd-init
WorkingDirectory=/opt/local

[Install]
WantedBy=multi-user.target
